@using System.Globalization
@using ERP.Application.DepartmentApp.Graduates.Interfaces
@using ERP.Application.DepartmentApp.Training.Interfaces
@using ERP.Application.StudentApp.Students.Interfaces
@using ERP.Domain.Core.Entity.DepartmentEntity.TrainingEntity
@using ERP.Domain.Core.Entity.StudentEntity
@using MudBlazor
@using System.Collections.Generic
@using Microsoft.AspNetCore.Components
@using ERP.Domain.Core.Entity.DepartmentEntity.GraduatesEntity

@inject IGetGraduateListUseCase GetGraduateList

@if (_graduates.Count > 0)
{
    <MudDataGrid Items="_graduates" Filterable="true" Bordered="true" Dense="true">
        <Columns>
            <PropertyColumn Property="x => x.GraduateName" Title="Graduate Name" />
            <PropertyColumn Property="x => x.GraduateCompany" Title="Company Working" />
            <PropertyColumn Property="x => x.GraduateDescription" Title="Current Job Role" />
        </Columns>

        <PagerContent>
            <MudDataGridPager />
        </PagerContent>
    </MudDataGrid>

    <div style="margin-top: 20px;">
        
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Generate Report</MudButton>
    </div>
}
else
{
    <p>No Graduates to Show</p>
}


@code {

    private List<Graduate> _graduates = new List<Graduate>();

    protected override async Task OnInitializedAsync()
    {
        _graduates = (await GetGraduateList.ExecuteAsync("")).ToList();
    }

}
